@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    20% {
        opacity: 1;

    }
    100% {
        transform: translate(-200rem);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    20% {
        opacity: 1;

    }
    100% {
        transform: translate(200rem);
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid #5d5d5d; */
    font-size: 10px;
}

.heading {
    display: flexbox;
    font-family: 'Chango', cursive;
    background-image: linear-gradient(to bottom, rgb(43, 64, 88), #8d5001fb);
    height: 15vh;
    width: auto;
}

.title {
    display: flex;
    justify-content: center;
    color: #c50707;
    text-shadow: -2px 3px 0 #3f3636;
    font-size: 3.5rem;
}

.navigation {
    display: flex;
    justify-content: center;
}

button {
    padding: .5rem;
    margin: 1.5rem 8rem 1rem 8rem;
    font-size: 1.5rem;
    font-weight: 900;
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(32, 42, 42);
    color: ghostwhite;
    cursor: pointer;
}

.game-zone {
    display: flex;
    height: 70vh;
    width: auto;
    background: url("png/Battleground3.png");
    background-size: cover;
    background-position: center;
    margin: auto; 
}

.start-game-modal {
    background: ghostwhite;
    display: flexbox;
    position: fixed;
    padding: 2rem;
    height: 30rem;
    width: 50rem;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
    border: .5rem solid black;
    background-image: linear-gradient(to top, rgb(67, 89, 110), #1b1c2cfb);
    z-index: 10;
}

.start-game-modal p {
    font-size: 1.6rem;
    color: ghostwhite;
}

.start-game-modal h6 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
    background: #b66d0dfb;
}

.start-game-modal div {
    margin-top: 2rem;
    display: flexbox;
    justify-content: center;
}

.start-game-modal input {
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    border: .2rem solid black;
    display: flexbox;
}

.start-game-modal.open {
    display: block;
}

.second-round-modal{
    background: ghostwhite;
    display: flexbox;
    position: fixed;
    padding: 2rem;
    height: 18rem;
    width: 35rem;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 2px solid black;
    background-image: linear-gradient(to top, rgb(67, 89, 110), #1b1c2cfb);
    display: none;
}

.second-round-modal p {
    font-size: 1.6rem;
    color: ghostwhite;
}

.second-round-modal h6 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
    background: #b66d0dfb;
}

.second-round-modal div {
    margin-top: 2rem;
    display: flexbox;
    justify-content: center;
}

.second-round-modal.open {
    display: block;
}

.you-lost-modal {
    background: ghostwhite;
    display: flexbox;
    position: fixed;
    padding: 2rem;
    height: 18rem;
    width: 35rem;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 2px solid black;
    background-image: linear-gradient(to top, rgb(67, 89, 110), #1b1c2cfb);
    display: none;
}

.you-lost-modal p {
    font-size: 1.6rem;
    color: ghostwhite;
}

.you-lost-modal h6 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
    background: #b66d0dfb;
}

.you-lost-modal div {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.you-lost-modal.open {
    display: block;
}

.attack-stats-modal {
    background: ghostwhite;
    display: flexbox;
    position: fixed;
    padding: 2rem;
    height: 18rem;
    width: 35rem;
    text-align: left;
    top: 70%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 2px solid black;
    background-image: linear-gradient(to top, rgb(67, 89, 110), #1b1c2cfb);
    display: none;
}

.attack-stats-modal p {
    font-size: 1.6rem;
    color: ghostwhite;
    margin: 1rem 0;
}

.attack-stats-modal h6 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
    background: #b66d0dfb;
    text-align: center;
}

.attack-stats-modal.open {
    display: block;
}

.player-container {
    display: flex;
    width: 100vw;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1rem 2rem;
}

.villain-image {
    height: 27rem;
    display: none;
}

.your-fighter {
    height: 27rem;
    display: none;
}

.villain-attack-gif {
    height: 15rem;
    width: auto;
    position: fixed;
    left: 15rem;
    bottom: 15rem;
    animation: moveInLeft 2.5s;
    display: none;
}

.fireball {
    height: 15rem;
    width: auto;
    transform: rotate(180deg);
    position: fixed;
    right: 15rem;
    bottom: 20rem;
    animation: moveInRight 2.5s;
    display: none;
}

.wind-gif {
    height: 15rem;
    width: auto;
    position: fixed;
    right: 15rem;
    bottom: 20rem;
    animation: moveInRight 2.5s;
    display: none;
}

.water-gif {
    height: 15rem;
    width: auto;
    position: fixed;
    right: 15rem;
    bottom: 20rem;
    animation: moveInRight 2.5s;
    display: none;
}

.health-display {
    display: flex;
    flex-wrap: wrap;
    height: 15vh;
    width: auto;
    background-image: linear-gradient(to top, rgb(13, 14, 15), #323353fb);
    justify-content: space-between;
}

.villian-health-stats {
    display: flex;
}

.hero-health-stats {
    display: flex;
}

.label-villian-strength {
    font-size: 2rem;
    margin-left: 1rem;
    color: ghostwhite;
}

.label-hero-strength {
    font-size: 2rem;
    color: ghostwhite;
}

h4 {
    font-size: 2rem;
    margin-left: 1rem;
    color: ghostwhite;
    text-align: center;
}

h3 {
    font-size: 2.5rem;
    color: ghostwhite;
    margin: 1rem 1rem;
    text-align: center;
}

#villain-health {
    display: flexbox;
    height: 2rem;
    width: 25rem;
    background: rgb(156, 33, 33);
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#hero-health {
    display: flexbox;
    height: 2rem;
    width: 25rem;
    background: rgb(156, 33, 33);
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.attack-button-container {
    align-items: center;
    margin-top: 2rem;
    /* display: none; */
}

.info-attack-container{
    display: flex;
    justify-content: center;
    margin-left: 5rem;
}

.info {
    display: flex;
    height: 2.5rem;
    width: auto;
    margin-left: 3rem;
    cursor: pointer;
}

.button-attack {
    display: flexbox;
    margin: 1.5rem .5rem 0 .5rem;
    background: rgb(25, 103, 139);
}

.villain-name {
    font-size: 2.5rem;
    color: ghostwhite;
    margin: 1rem 1rem;
    text-align: center;
}

.save-the-world {
    height: 5rem;
    width: 50rem;
    font-size: 3.5rem;
    font-weight: 600;
    position: fixed;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    background: ghostwhite;
    border: 2px solid black;
}